.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-img {
  display: block;
  width: 100%;
}

.section {
  padding: 120px 0;
}

/*----Common----*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*-----HEADER-----*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.nav-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current:hover,
  .nav-link.current:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts {
    margin-left: auto;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .nav-link {
    font-weight: 500;
  }
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-close {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  


}

.mobile-close:hover,
.mobile-close:focus {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav {
  margin-bottom: auto;
}

.menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link.current {
  color: #404bbf;
}

.menu-link.current:hover,
.menu-link.current:focus,
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.mobile-contacts {
  display: block;
  margin-bottom: 48px;
  font-style: normal;
}

.mobile-list {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  gap: 24px;
}

.mobile-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.phone-number {
  color: #4d5ae5;
}

.mobile-container {
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.mobile-list-wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobile-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  fill: #4d5ae5;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon:hover,
.mobile-icon:focus {
  background-color: #404bbf;
}

.mobile-link {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*------Section1-------*/
.hero-section {
  background-color: #2e2f42;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-button {
  background-color: #4d5ae5;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  align-items: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  color: #fff;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/people-office-ret.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    max-width: 100%;
    padding: 0 16px;
    padding: 72px 0;
  }

  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    width: 216px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 0 16px;
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 0 15px;
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/*------Section2 ------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-view {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 8px 0;
}

.view-subtitle {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

@media screen and (max-width: 1157px) {
  .benefits-item {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .list-size {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
  }

  .title-view {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }

  .view-subtitle {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .list-size {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
  }

  .title-view {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
  }

  .view-subtitle {
    font-weight: 500;
  }
}

@media screen and (min-width: 1158px) {
  .list-size {
    display: flex;
    gap: 24px;
  }

  .list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .title-view {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .view-subtitle {
    font-weight: 400;
  }
}

/*-----Section3-----*/
.section-page {
  background-color: #f4f4fd;
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.page-list {
  display: flex;
}

.page-view {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-name {
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 264px;
}

.hero-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.view-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #4d5ae5;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-class {
  fill: #f4f4fd;
}

.menu-social-class {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .page-list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .page-container {
    padding: 0 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .page-list {
    max-width: 552px;
    gap: 64px 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .page-view {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .page-list {
    display: flex;
    gap: 24px;
  }
}

/*-------Section4-------*/

.section-haro {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.haro-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.haro-item {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.haro-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.haro-item:hover .portfolio-text {
  transform: translateY(0%);
}

.image-card {
  position: relative;
  overflow: hidden;
}

.image-section {
  width: 100%;
}

.image-info {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (max-width: 767px) {
  .haro-container {
    padding: 0 16px;
  }

  .haro-list {
    max-width: 288px;
    flex-direction: column;
    gap: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .haro-container {
    padding: 0 16px;
  }

  .haro-list {
    max-width: 734px;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .haro-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .haro-list {
    max-width: 1128px;
    gap: 48px 24px;
    flex-wrap: wrap;
  }

  .haro-item {
    max-width: 360px;
    width: calc((100% - 24px) / 3);
  }
}

/*-------Footer-------*/
.page-footer {
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-container {
  display: flex;
  width: 208px;
  flex-direction: column;
  justify-items: center;
}

.list-social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.page-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-style {
  width: 40px;
  height: 40px;
}

.footer-social-list {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list:hover,
:focus {
  background-color: #31d0aa;
}

.footer-list {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.subscribe-clause {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.E-mail {
  color: #ffffff;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.social-form-email {
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.social-form-bth {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.social-class-bth {
  margin-left: 16px;
  fill: #fff;
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding: 96px 16px;
    flex-direction: column;
    align-items: center;
  }

  .footer-div {
    width: 288px;
  }

  .footer-logo {
    width: 116px;
    margin: 16px auto;
  }

  .footer-subtitle {
    max-width: 288px;
    margin-bottom: 72px;
  }

  .social-container {
    align-items: center;
  }

  .list-social {
    margin-bottom: 72px;
  }

  .footer-subscribe-container {
    max-width: 288px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .social-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 16px;
  }

  .social-form-email {
    width: 288px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 96px 108px;
    flex-wrap: wrap;
    gap: 112px 24px;
  }

  .footer-logo {
    width: 115px;
    margin-bottom: 16px;
  }

  .footer-subtitle {
    width: 264px;
  }

  .footer-subscribe-container {
    display: flex;
    flex-direction: column;
  }

  .social-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  .social-form-email {
    width: 264px;
  }
  .subscribe-clause {
    text-align: initial;
  }

  .page-footer {
    padding: 80px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    padding: 100px 15px;
  }

  .footer-div {
    width: 264px;
    margin-right: 120px;
  }

  .footer-logo {
    width: 115px;
    margin-bottom: 15px;
  }

  .footer-subtitle {
    width: 264px;
  }

  .footer-subscribe-container {
    margin-left: 80px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }

  .social-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  .social-form-email {
    width: 264px;
  }
}

/*-------Modal Page-------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.footer-button {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.footer-page {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-element {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.element-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-modal:focus {
  border-color: #4d5ae5;
}

.element-modal:focus + .icon-svg {
  fill: #4d5ae5;
}

.icon-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-container {
  display: flex;
}

.border-line {
  border: 1.25px solid #2e2f42;
  width: 18px;
  height: 0px;
  transform: rotate(-90deg);
  margin-left: 4px;
}

.comment-element {
  margin-bottom: 16px;
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
  border-color: #4d5ae5;
}

.comment-accept {
  margin-bottom: 24px;
}

.accept-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-accept {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
}

.checkbox:checked + .accept-checkbox-label> .span-accept {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.logo-accept {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-bth {
  border-radius: 4px;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    width: 288px;
    min-height: 623px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}